<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gateway42.service</string>

    <key>Program</key>
    <string>/Users/org42/git/gateway42/service-run.sh</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <false/>

    <key>WorkingDirectory</key>
    <string>/Users/org42/git/gateway42</string>

    <key>StandardOutPath</key>
    <string>/Users/org42/git/gateway42/logs/gateway42.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/org42/git/gateway42/logs/gateway42.log</string>
</dict>
</plist>